@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--primaryclr);
  line-height: 1.5;
}

:root {
  --primaryclr: #382918;
  --lineheight: 180%;
  --letterspacing: 55%;
  --h1: 72px;
  --footertxtsize: 20px;
  --glass-bg: rgba(0, 0, 0, 0.267);
  --backdrop: blur(5px);
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
}

.btn {
  padding: 1rem 4rem;
  width: max-content;
  border-radius: 30px;
  background-color: black;
  color: white;
  border: none;
  margin-top: 4rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}

.btn:hover {
  transform: scale(0.9);
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
